body {
    margin: 0%;
    padding: 0%;
  }
  
  h1, #out {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
  }
  
  #out {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
  }
  /* These two are the same and could have been in one selector */
  
  #btn,
  #btn-down {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    /* avoid using px for margin. */
  }
  /* It is better to add a class for this instead of naming
  every btn. */
  
  #btn {
    background-color: rgb(0, 255, 0);
  }
  
  #btn-down {
    background-color: rgb(160, 24, 24);
  }
  
  body {
        text-align: center;
  }
